::selection {
    background: #79ffe1
}

.home {
    width: 100%;
    height: 90vh;
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_1,
.header_2,
.header_3 {
    font-size: 8rem;
    font-family: 'Inter', sans-serif;
    padding: 0.05em;
    font-weight: 800;
    letter-spacing: -.06em;
    line-height: 1;
}

.header_4 {
    margin-top: 50px;
}

.header_4,
.header_5 {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: #666666;
    padding: 0.05em;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.6em;
}

.home_button_1 {
    margin-right: 10px;
}

.home_button_1,
.home_button_2 {
    width: 150px;
    height: 48px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    margin-top: 50px
}

.about {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}